<div class="parallax-window" data-parallax="scroll" data-image-src="images/image.jpg"></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="images/image.jpg"></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="images/image.jpg"></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="images/image.jpg"></div>
