<div class="container">
  <div class="row">
    <div class="col-md-4 page-image"><%= image_tag("pollution.png") %></div>
    <div class="col-md-8">
      <h3>Pollution</h3>
      <p>The LA area has the nations worst ozone pollution.</p>
      <p>30 million people live in areas with chronic levels of pollution.</p>
      <p>LA violates federal health standards 137 days per year.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Health + Fitness</h3>
      <p>Exercise is like fertilizer for your brain.</p>
      <p>Cycling elevates your mood.</p>
      <p>Cycling is good for your heart + soul.</p>
    </div>
    <div class="col-md-4 page-image"><%= image_tag("health.png") %></div>
  </div>
  <div class="row">
    <div class="col-md-4 page-image"><%= image_tag("traffic.png") %></div>
    <div class="col-md-8">
      <h3>Reduce Traffic</h3>
      <p>Angelinos drive on average 23 miles per day.</p>
      <p>We spend more time in traffic than anyone else in the US.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Build Community</h3>
      <p>Cyclists form strong communities.</p>
      <p>Communities with cyclists are happier.</p>
    </div>
    <div class="col-md-4 page-image"><%= image_tag("community.png") %></div>
  </div>
</div>
