<div id="maps-body">
  <div id="search-container">
    <div id="search">
      <div id="search-btn"></div>
      <input placeholder="Search Neighborhood"></input>
    </div>
  </div>
  <div id="googleMap">
  </div>
  <div id="content">
    <div>
    </div>
    <div>
    </div>
  </div>
</div>
