<div class="container">
 <div class="row">
    <div class="col-md-8">
      <h3>Wear a Helmet</h3>
      <p>Wear a helmet whenever you ride.</p>
      <p>Wear light colored clothes at night.</p>
      <p>Dressing in layers allows you to adjust to temperatures on longer rides.</p>
    </div>
    <div class="col-md-4 page-image"><%= image_tag("helmet.png") %></div>
  </div>
  <div class="row">
    <div class="col-md-4 page-image"><%= image_tag("signals.png") %></div>
    <div class="col-md-8">
      <h3>Use Hand Signals</h3>
      <p>Use hand signals to tell motorists what you intend to do.</p>
      <p>It is safer to tell a driver your intended direction than to assume they know.</p>
      <p>Signaling is a matter of law, courtesy, and self-protection.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Obey All Traffic Laws</h3>
      <p>Stop at all stop signs and signals as required by law.</p>
      <p>Ride in the same direction as automobile traffic.</p>
      <p>Bicycles have legal access to the roadway and must obey all traffic signs.</p>
    </div>
    <div class="col-md-4 page-image"><%= image_tag("laws.png") %></div>
  </div>
  <div class="row">
    <div class="col-md-4 page-image"><%= image_tag("lights.png") %></div>
    <div class="col-md-8">
      <h3>Use Front + Rear Lights</h3>
      <p>Be sure your bike is adjusted to fit you properly.</p>
      <p>Use bells, rear view mirrors, fenders, and racks.</p>
      <p>Use a strong headlight and tail light at night.</p>
    </div>
  </div>
</div>
