/*
*= require_self
*= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Domine', serif;

/* colors */
$white: #fff;
$gray: #222;
$green: #369E7D;

/* universal */
#bootstrap-overrides nav li img {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

body {
  padding-top: 60px;
  font-family: $primary-font;
  overflow: scroll !important;
}

#bootstrap-overrides .container {
  margin: 0 auto;
}

#bootstrap-overrides .container-fluid {
  margin: 50px 0px;
  color: $green;
  padding-left: 10px;
}

/* header/navbar */

#bootstrap-overrides .navbar-inverse {
  background-color: $white;
  border-color: $white;
}

#bootstrap-overrides .space-nav {
  padding-left: 80px;
  padding-top: 24px;
  font-size: 24px;
  a:hover{
    color: $green;
  }
}

/* home */

#bootstrap-overrides .image {
  position: relative;
  width: 100%; /* for IE 6 */
}

#bootstrap-overrides h1 {
   position: absolute;
   top: 140px;
   left: 0;
   width: 100%;
   color: $white;
   text-align: center;
   line-height: 2em;
   font-size: 36px;
}

#bootstrap-overrides h2 a {
   position: absolute;
   top: 140px;
   left: 0;
   width: 100%;
   color: $white;
   text-align: center;
   font-size: 48px;
   color: $white;
   text-decoration: none;
}

#bootstrap-overrides h3 {
   color: $green;
   text-align: center;
   line-height: 2em;
   font-size: 36px;
   padding-top: 100px;
}

p {
  font-family: $secondary-font;
  text-align: center;
  font-size: 24px;
}

/* footer */
.footer {
  text-decoration: none;
  display: inline-block;
  padding-right: 28px;
  padding-left: 28px;
}

.footer-icons {
  text-decoration: none;
  display: inline-block;
  color: $green;
  a{
  color: $green;
  padding-left: 4px;
  padding-right: 4px;
  }
}

#bootstrap-overrides #footer {
  font-family:$primary-font;
  font-size: 14px;
}

