<footer class="footer">
  <div class="container">
      <ul>
        <li class="footer" id="footer">Bike LA | Bike Safely throughout Los Angeles, CA</li>
        <li class="footer">About Us</li>
        <li class="footer">Contact</li>
        <li class="footer">FAQS</li>
        <li class="footer">California Transportation Act</li>
        <li class="footer-icons"><%= link_to "http://facebook.com", :target => "_blank" do%><i class="fa fa-facebook"></i></li><% end %>
        <li class="footer-icons"><%= link_to "http://twitter.com", :target => "_blank" do%><i class="fa fa-twitter"></i></li><% end %>
        <li class="footer-icons"><%= link_to "http://pinterest.com", :target => "_blank" do%><i class="fa fa-pinterest"></i></li><% end %>
        <li class="footer-icons"><%= link_to "http://instagram.com", :target => "_blank" do%><i class="fa fa-instagram"></i></li><% end %>
      </ul>
  </div>
</footer>
